.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 0;
}

.count {
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  color: #D35445;
}

.totalCount {
  font-weight: 600;
  font-size: 24px;
  line-height: 48px;
}

@media only screen and (max-width: 1640px) {
  .container {
    padding: 24px 0;
  }
}